body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #757575;
}

h4{
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

#background_cycler{
  position:fixed;
  top:-50%;
  left:-50%;
  height: 200%;
  width: 200%;  
  z-index:-1;
}

@media only screen and (max-width: 550px){
  #background_cycler{display: none;
  }
}

#background_cycler img{
  position:absolute;  
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index:1;
}

#background_cycler img.active{
  z-index:3
}



/*
#bkgImgs div{
  background: url('assets/retro3-bkg.jpg') no-repeat right top;
    z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

#calcWrapper{
  display: inline-block;
  position: relative;
  width: 250px;
  padding: 20px 0px 20px 20px;
  z-index: 5;
}

@media only screen and (max-width: 550px){
  #calcWrapper{
    padding: 0px;
    width: 100%;
    height: 100%;
  }
}

#calcWrapper_forShadow{
  border-radius: 15px;
  box-shadow: 10px 10px 70px rgba(0,0,0,0.5);
  z-index: 10;
  overflow: hidden;

}

@media only screen and (max-width: 550px){ 
  #calcWrapper_forShadow{
    border-radius: 0px;
    box-shadow: 0px;
    position: relative;
  }
}

#calcHolderTop{
  display: block;
  background: #E4E4E4;
  padding: 10px 5px;  
  margin: 0px;
  text-align: center;
  box-shadow: inset 3px 3px 10px rgba(0,0,0,0.2),inset -8px 0px 10px -5px rgba(0,0,0,0.2);
  border-bottom: 1px solid #cccccc;  
}

@media only screen and (max-width: 550px){
#calcHolderTop{
  text-align: left;
  padding-left: 20px;
}
}

#calcHolderTop img{
  height: 25px;
}

#TargetOptions{
  display: inline block;
  background: #f7f7f7; 
  padding: 10px 0px;
  margin: 0px;
  box-shadow: inset 15px 0px 15px -10px rgba(0,0,0,0.2), 
              inset -8px 0px 15px -5px rgba(0,0,0,0.2);
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid white;
}

#TargetOptions p {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 12px;
  color: #333333;
  padding: 0px 10px;
}

#calcHolderMid{
  display: block;
  background-color: white; 
  padding: 10px 0px;  
  margin: 0px;
  box-shadow: inset 15px 0px 15px -10px rgba(0,0,0,0.2), 
              inset -15px 0px 15px -10px rgba(0,0,0,0.2);
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;

}

#calHolderBottom{
  display: block;
  background: linear-gradient(to top, #999999, #F7F7F7 25%);
  padding: 10px 0px;   
  margin-top: 0px;
  box-shadow: inset -5px -5px 15px rgba(0,0,0,0.2), 
              inset 15px 0px 15px -10px rgba(0,0,0,0.2);
  border-top: 1px solid white;
}


#calcHolderTop h1{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #333333;
  padding-top: 5px;
  font-family: Rockwell;
}


.TCTarget {
  background: linear-gradient(#666666, #333333);       
  padding: 0px;
  border-radius: 55px;
  border: 1px solid #CCCCCC;    
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

.TCTarget input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

.TCTarget input[type="tel"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 30px;
  height: 30px;  
  border: none;
  color: #66FF00;
}

.TCTarget input[type="tel"]:focus,
.TCTarget input[type="tel"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0;  
}

.TC {
  background: #F5F5F5;       
  padding: 0px;
  border: 1px solid #cccccc;
  border-radius: 55px;  
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

.TC input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

.TC input[type="tel"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 30px;
  height: 30px;  
  border: none;
  color: #333333;
}

.TC input[type="tel"]:focus,
.TC input[type="tel"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0;  
}

::-webkit-input-placeholder {
   color: #DEDEDE;
   font-style: italic;
   font-weight: lighter;
}


.partName {
  font-style: italic;
  font-size: 12px;
  color: #333333;
  margin-left: 27px;
}



#total {
  background: linear-gradient(#FFCC66, #FFCC00);
  position: relative;
  border: 1px solid #999999;  
  margin: 0px 20px 0px;
  text-align: center;
  border-radius: 55px;
}

#total input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  border-radius: 100%;
  width: 35px;
  height: 30px;  
  border: none;
}

#total input[type="text"]:focus,
#total input[type="text"].focus {  
  outline-width: 0; 
}

#addPartButton {
  border: 1px solid #999999;
  border-radius: 25px;
  padding: 5px;  
  margin: 10px;
  margin-left: 15px;
  background: #cccccc;
  color: #666666;
}


#addPartButton:focus{
  border-radius: 25px;
  outline-width: 0;
  border: 1px solid #FFCC00;
  
}

ul#timecodeText  {
  list-style: none;   
  margin-top: 0px; 
  padding: 0px;
  text-align: center;
  padding-left: 25px;
}

#timecodeText li {
  display: inline;
  padding-right: 20px;
  color: #666666;
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

#totalHeader {
  position: relative;
  font-style: italic;
  font-size: 12px;
  color: #333333;
  margin-left: 40px;
}

#overUnderBy{
  padding: 10px 0px 0px 0px;
}
#overUnderBy p{
  margin: 0;
  margin-left: 20px;
  font-size: 12px;
  color: #333333;
  padding: 0px 10px;
}

#totalDiff {  
  background: linear-gradient(#666666, #333333);       
  padding: 0px;
  border-radius: 55px;
  border: 1px solid #CCCCCC;    
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

#totalDiff input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

#totalDiff input[type="text"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 35px;
  height: 30px;  
  border: none;
  color: #66FF00;
}

#totalDiff input[type="text"]:focus,
#totalDiff input[type="text"].focus {  
  outline-width: 0; 
}

#refresh{
  border-radius: 30px;
  border: 0px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 0 20px #666666;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
  display: block;  
}

#refresh img{
  height: 25px;  
}

#refresh:hover{
border:1px solid #FFCC00;
box-shadow: 0 0 10px #FFCC00;
}

#refresh:active{
  border:1px solid #FF3333;
  box-shadow: 0 0 10px #FF3333;
}

#frameSelect{
  padding:3px;
  margin: 0px 20px;
  border-radius:30px;
  background: white;
  color:#888;
  border: 1px solid #cccccc;
  outline:none;
  display: inline-block;
  appearance:none;
  cursor:pointer;
}

#tabsWrapper_help{ 
  position: absolute;
  left: 239px;
  top: 150px;
  margin: 0;
  padding: 0;    
  z-index: -1;
}

@media only screen and (max-width: 550px){
  #tabsWrapper_help{
    position: static;
    left: 0;
    top: 0;

  }
}


.close{
  display: inline-block;
  float: right;
  position: relative;
}

.close img{  
  width: 25px; 
}

.close img:hover{
  cursor: pointer;
}

#helpLabel{ 
  margin: 0px;
  padding: 5px 20px;
  background: #333333;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);  
  border-radius: 6px 6px 0 0;
  width: 50px;  
  z-index: 0;
}

@media only screen and (max-width: 550px){
  #helpLabel{
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg); 
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 3px;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cccccc));
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

#tabsWrapper_help a{
  color: #999999;
  text-decoration: none;
}

@media only screen and (max-width: 550px){
  #tabsWrapper_help a {
    color: #a6a6a6;
  }
}

#helpLabel a:hover{
    color: white;
} 

#helpLabel.active a{
  color: #FFCC66;
}


@media only screen and (max-width: 550px){
  #helpLabel a:hover{
    color: #3b3b3b;
  } 
}
  
#helpBox{
  display: none;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 200px;
  padding: 10px 30px 10px 50px;  
  border-radius: 0px 15px 15px 0px;
  font-size: 12px;
  position: absolute;
  left: 30px;
  top: -84px;
  z-index: -2;
}

@media only screen and (max-width: 550px){
  #helpBox{
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0px;
    width: 100%;
    background-color: rgba(0,0,0,1);
    padding: 15px;
    box-sizing: border-box;
  }
}

#tabsWrapper_template{
  position: absolute;
  left: 229px;
  top: 260px;
  margin: 0;
  padding: 0;    
  z-index: -1;
}

@media only screen and (max-width: 550px){
  #tabsWrapper_template{
    position: static;
    left: 0;
    top: 0;
  }
}


#templateLabel{
  margin: 0px;
  padding: 5px 20px;
  background: #333333;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
  border-radius: 6px 6px 0 0;
  z-index: -1;
}

@media only screen and (max-width: 550px){
  #templateLabel{
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg); 
    border-radius: 6px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
  }
}

#templateLabel a{
  color: #999999;
  text-decoration: none;
}

#templateLabel a:hover{
  color: white;
}

#templateLabel.active a{
  color: #FFCC66;
}


#templateBox{
  display: none;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 20px 10px 60px;  
  border-radius: 0px 15px 15px 0px;
  font-size: 12px;
  position: absolute;
  left: 30px;
  top: -41px;
  z-index: -2;
  width: 358px;
}

ul#channels {
  color: white;
  z-index: 8;    
  padding-left: 0;
  display: inline;
  margin-bottom: 0px;  
}

#channels li {
  list-style: none;  
  display: inline;  
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#channels li img {
  width: 80px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 0px;
}

#channels li img:hover {
  border: 1px solid white; 
}


/*Need help to get the active state working!!!*/
#channels li img.active a{
  border: 1px solid #FFCC66; 
}

#durationSelect{    
  background-image:
    linear-gradient(
      rgba(0,0,0,0.5), rgba(0,0,0,0.0) );
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;  
  margin-top: -3px;
}


.progLengthSelect li{
  list-style: none;
}

ul.progLengthSelect {
  -webkit-column-count: 3;
  padding-left: 0px;
}

#tabsWrapper_about{
  position: absolute;
  left: 10px;
  top: 110px;
  margin: 0;
  padding: 0;    
  z-index: -2;
}

#aboutLabel{ 
  margin: 0px;
  padding: 5px 20px;
  background: #333333;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);  
  border-radius: 6px 6px 0 0;
  width: 50px;  
}


#tabsWrapper_about a{
  color: #999999;
  text-decoration: none;
}

#aboutLabel a:hover{
    color: white;
} 

#aboutLabel.active a{
  color: #FFCC66;
}
  
#aboutBox{
  display: none;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 200px;
  padding: 10px 30px 10px 50px;  
  border-radius: 0px 15px 15px 0px;
  font-size: 12px;
  position: absolute;
  left: 30px;
  top: -304px;
  z-index: -5;
}


footer img {
  width: 120px;
  position: fixed;
  float: right;
  right: 30px;
  bottom: 30px;
  border-radius: 5px;
}

.SelectorSets{
  display: none;
}

.setActive.SelectorSets{
  display: block;
}

p a {
  text-decoration: none;
  color: white;
  border-bottom: 1px dotted white; 
}

#addPartBtn{    
    position: relative;    
    padding: 3px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cccccc));
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}



/* YELLOW or stronger #FFCC00S */


