body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
}



#background_cycler{
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index:-1
}

#background_cycler img{
  position:absolute;
  height: 100%;
  left:0;
  top:0;

  z-index:1
}

#background_cycler img.active{
  z-index:3
}



/*
#bkgImgs div{
  background: url('assets/retro3-bkg.jpg') no-repeat right top;
    z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

#calcWrapper{
  display: inline-block;
  width: 250px;
  padding: 20px 0px 20px 20px;
  z-index: 5;
}

#calcWrapper_forShadow{
  border-radius: 15px;
  box-shadow: 10px 10px 70px rgba(0,0,0,0.5);
  z-index: 10;

}

#calcHolderTop{
  display: block;
  background: #E4E4E4;
  border-radius: 15px 15px 0px 0px;
  padding: 15px 15px 5px;  
  margin: 0px;
  text-align: center;
  box-shadow: inset 3px 3px 10px rgba(0,0,0,0.2),inset -8px 0px 10px -5px rgba(0,0,0,0.2);
  border-bottom: 1px solid #cccccc;
  
}

#calcHolderTop img{
  height: 25px;
}

#TargetOptions{
  display: inline block;
  background: #f7f7f7; 
  padding: 10px 0px;
  margin: 0px;
  box-shadow: inset 15px 0px 15px -10px rgba(0,0,0,0.2), 
              inset -8px 0px 15px -5px rgba(0,0,0,0.2);
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid white;
}

#TargetOptions p {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 12px;
  color: #333333;
  padding: 0px 10px;
}

#calcHolderMid{
  display: block;
  background-color: white; 
  padding: 10px 0px;  
  margin: 0px;
  box-shadow: inset 15px 0px 15px -10px rgba(0,0,0,0.2), 
              inset -15px 0px 15px -10px rgba(0,0,0,0.2);
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;

}

#calHolderBottom{
  display: block;
  background: linear-gradient(to top, #999999, #F7F7F7 25%);
  border-radius: 0px 0px 15px 15px; 
  padding: 10px 0px;   
  margin-top: 0px;
  box-shadow: inset -5px -5px 15px rgba(0,0,0,0.2), 
              inset 15px 0px 15px -10px rgba(0,0,0,0.2);
  border-top: 1px solid white;
}


#calcHolderTop h1{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #333333;
  padding-top: 5px;
  font-family: Rockwell;
}

.TCTarget {
  background: linear-gradient(#666666, #333333);       
  padding: 0px;
  border-radius: 55px;
  border: 1px solid #CCCCCC;    
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

.TCTarget input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

.TCTarget input[type="text"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 30px;
  height: 30px;  
  border: none;
  color: #66FF00;
}

.TCTarget input[type="text"]:focus,
.TCTarget input[type="text"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0;  
}

.TC {
  background: #F5F5F5;       
  padding: 0px;
  border: 1px solid #cccccc;
  border-radius: 55px;  
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

.TC input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

.TC input[type="text"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 30px;
  height: 30px;  
  border: none;
  color: #333333;
}

.TC input[type="text"]:focus,
.TC input[type="text"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0;  
}

::-webkit-input-placeholder {
   color: #DEDEDE;
   font-style: italic;
   font-weight: lighter;
}


.partName {
font-style: italic;
font-size: 12px;
color: #333333;
margin-left: 27px;
}



#total {
  background: linear-gradient(#FFCC66, #FFCC00);
  position: relative;
  border: 1px solid #999999;  
  margin: 0px 20px 0px;
  text-align: center;
  border-radius: 55px;
}

#total input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;  
  border: none;
}

#total input[type="text"]:focus,
#total input[type="text"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0; 
}

#addPartButton {
  border: 1px solid #999999;
  border-radius: 25px;
  padding: 5px;  
  margin: 10px;
  margin-left: 15px;
  background: #cccccc;
  color: #666666;
}


#addPartButton:focus{
  border-radius: 25px;
  outline-width: 0;
  border: 1px solid #FFCC00;
  
}

ul  {
  list-style: none;  
  font-size: 12px;
  font-style: italic;
  margin: 0px; 
  padding: 0px;
  text-align: center;
  padding-left: 25px;
}

li {
  display: inline;
  padding-right: 30px;
  color: #666666;
}

#totalHeader {
  position: relative;
  font-style: italic;
  font-size: 12px;
  color: #333333;
  margin-left: 40px;
}

#overUnderBy{
  padding: 10px 0px 0px 0px;
}
#overUnderBy p{
  margin: 0;
  margin-left: 20px;
  font-size: 12px;
  color: #333333;
  padding: 0px 10px;
}

#totalDiff {  
  background: linear-gradient(#666666, #333333);       
  padding: 0px;
  border-radius: 55px;
  border: 1px solid #CCCCCC;    
  margin: 0px 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

#totalDiff input {
  background-color: rgba(0, 0, 0, 0);  
  margin: 0px 4px;
}

#totalDiff input[type="text"] {
  font-size: 14px;
  padding: 0px;
  text-align: center;
  width: 30px;
  height: 30px;  
  border: none;
  color: #66FF00;
  }

#totalDiff input[type="text"]:focus,
#totalDiff input[type="text"].focus {
  border: solid 1px #FFCC00;
  border-radius: 100%;
  outline-width: 0; 
}

#refresh{
  border-radius: 30px;
  border: 0px;
  margin-left: 100px;
  padding: 5px;
  box-shadow: 0 0 20px #666666;
  outline: none;
  border: 1px solid rgba(0,0,0,0);
}

#refresh img{
  height: 25px;  
}

#refresh:hover{
border:1px solid #FFCC00;
box-shadow: 0 0 10px #FFCC00;

}
#refresh:active{
  border:1px solid #FF3333;
  box-shadow: 0 0 10px #FF3333;
}

#frameSelect{
    padding:3px;
    margin: 0px 20px;
    border-radius:30px;
    background: white;
    color:#888;
    border: 1px solid #cccccc;
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
}

#tabsWrapper_help{
  display: inline-block;
  vertical-align: top;
  width: 280px;
  position: relative;
  top: 36px;
  margin: 0;
  padding: 0;
  left: -245px;
  z-index: 2;
}

.close img{
  width: 25px;
  float: right;  
}

#helpLabel{
  position: absolute;
  margin: 0px;
  padding: 5px 20px;
  background: #333333;
  transform: rotate(90deg);
  border-radius: 6px 6px 0 0;
  width: 50px;
  top: 59px;
  left: 209px;
}

#tabsWrapper_help a{
  color: #999999;
  text-decoration: none;
}

#helpLabel a:hover{
  color: white;
}

#helpBox{
  display: inline-block;
  vertical-align: top;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 300px;
  padding: 10px 10px 10px 50px;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  font-size: 12px;
  left: 240px;
  z-index: -1;
}

#templateLabel{
  position: absolute;
  left: 228px;
  top: 200px;
  margin: 0px;
  padding: 5px 20px;
  background: #333333;
  transform: rotate(90deg);
  border-radius: 6px 6px 0 0;
  z-index: 3;
}

#templateLabel a{
  color: #999999;
  text-decoration: none;
}

#templateLabel a:hover{
  color: white;
}


